body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden; /* スクロールを無効化 */
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

a {
    text-decoration: none; /* リンクの下線を消す */
    color: inherit; /* 親要素の色を継承 */
}

ol, ul {
    list-style: none; /* リストのデフォルトスタイルを消す */
    padding: 0; /* パディングを消す */
    margin: 0; /* マージンを消す */
}

header {
    display: flex; /* フレックスボックスを有効化 */
    justify-content: center; /* 水平方向に中央揃え */
    align-items: center; /* 垂直方向に中央揃え */
    height: 100vh; /* ヘッダーを画面全体の高さに設定 */
    background: rgba(0, 0, 0, 0.5); /* 背景を半透明にする（必要に応じて） */
    position: relative; /* 他の要素と重ならないようにする */
    z-index: 2; /* 背景より前面に表示 */
    color: white; /* テキストを白に設定 */
}

nav {
    display: flex; /* フレックスボックスを有効化 */
    gap: 30px; /* 各項目の間隔を設定 */
    list-style: none; /* リストのデフォルトスタイルを削除 */
    padding: 0; /* パディングを削除 */
    margin: 0; /* マージンを削除 */
}

nav ul {
    display: flex; /* リストを横並びにする */
    flex-direction: column;
    justify-content: center; /* リスト全体を中央揃え */
    align-items: center;
    gap: 30px; /* リスト項目間のスペース */
    padding: 0; /* パディングを削除 */
    margin: 0; /* マージンを削除 */
}

nav li {
    list-style: none; /* リストのデフォルトスタイルを削除 */
}

nav a {
    text-decoration: none; /* 下線を削除 */
    color: inherit; /* 親要素の色を継承 */
    letter-spacing: 12px;
    font-size: 1.2em;
    text-shadow: 4px 4px rgba(255, 255, 255, 0.09);}

/* PC用のフォントサイズ */
@media (min-width: 1024px) {
    nav ul {
    flex-direction: row;
    gap: 100px;
    }

    nav a {
    font-size: 3.1em;}
}

.hero {
    height: 100vh; /* ビューポート全体の高さ */
    background-size: cover; /* 画像を画面全体に拡大縮小 */
    background-position: center; /* 画像を中央に配置 */
    background-repeat: no-repeat; /* 画像の繰り返しを防ぐ */
    position: relative; /* 他の要素を重ねるための基準 */
    z-index: 1;
    animation: zoomEffect 20s infinite; /* アニメーションを適用 */
}

@keyframes zoomEffect {
    0% {
        transform: scale(1); /* 初期サイズ */
    }
    50% {
        transform: scale(1.1); /* 少しズーム */
    }
    100% {
        transform: scale(1); /* 元に戻る */
    }
}

header, footer {
    position: absolute; /* 背景画像の上に配置 */
    width: 100%; /* 横幅を画面全体に広げる */
    z-index: 2; /* 背景より前面に表示 */
    color: white; /* テキストを白に設定 */
}

header {
    top: 0; /* ヘッダーを画面上部に配置 */
    background: rgba(0, 0, 0, 0.5); /* 背景を半透明にする */
    padding: 10px 0;
}

footer {
    bottom: 0; /* フッターを画面下部に配置 */
    padding: 10px 0;
    text-align: right;
    font-size: 0.6rem; /* フッターのフォントサイズを小さくする */
}

.copyright {
    margin-right: 5px;
}